{% extends "layout.html" %}

{% block body %}
    <div class="row">
        <div class="col-md-11 offset-ml-3">
        <h3>Images</h3>
         <hr>
        <div class="col-lg-8">
            <form>
                 {% csrf_token %}
                    <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Search...">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

            {% if images %}
        {% for image in images %}
    <div class="row">
    <div class="col-ml-11 offset-ml-3">
        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
               <a href="{% url 'image:detail' image.id %}">
                   <h2 class="mt-4">{{ image.title }}</h2>
               </a>


            <!-- Author -->
            <p class="lead">by {{ image.author }}</p>

            <!-- Date/Time -->
            <p>{{ image.created_date }}</p>
        </div>
    </div>
        {% endfor %}

    {% else %}

        <div class="alert alert-warning">
           Image has been not found.
        </div>
    </div>
    {% endif %}
        </div>
    </div>


{% endblock %}